body
{
    margin-top: 0;
    margin: 0;
}

.navbar
{
    background-color: aquamarine;
    display: flex;
}

#navList
{
    list-style-type: none;
    display:flex;
}

#cont{
    background-color: aquamarine;
}
/* This is to check Git Update */
/*Cool*/

/*Nilanjan Updated*/